﻿@page
@model IndexModel
@{ ViewData["Title"] = "Convert"; }

<form>
	<div class="form-row">
		<div class="col">
			<input id="amount-convert-wcf" type="text" class="form-control" placeholder="Number to WCF conversion">
		</div>
		<div class="col">
			<input id="amount-convert-api" type="text" class="form-control" placeholder="Number to API conversion">
		</div>
	</div>
	<div class="form-row m-5">
		<button id="button-convert" type="button" class="btn btn-primary btn-lg btn-block">CONVERT!</button>
	</div>
	<div class="form-row">
		<div class="col">
			<label for="result-area-wcf">WCF Result</label>
			<textarea class="form-control" id="result-area-wcf" rows="3"></textarea>
		</div>
		<div class="col">
			<label for="result-area-api">API Result</label>
			<textarea class="form-control" id="result-area-api" rows="3"></textarea>
		</div>
	</div>
</form>

<script>
	$(document).ready(function() {
		$("#button-convert").click(function() {
			$.ajax({
				type: "GET",
				url: "https://webapi.ivit.org.pl/api/DollarsToWords",
				data: { amount: $("#amount-convert-api").val() },
				success: function(data) {
					var textArea = $("#result-area-api");
					textArea.val(data);
				},
				error: function(data) {
					var textArea = $("#result-area-api");
					var status = data.status;

					if (status === 400) {
						textArea.val("Wrong argument.");
					} else {
						textArea.val("Something is not yes...");
					}

				}
			});
			$.ajax({
				type: "GET",
				url: "/Index?handler=WcfResult",
				data: { amount: $("#amount-convert-wcf").val() },
				contentType: "application/json",
				dataType: "json",
				success: function(data) {
					var textArea = $("#result-area-wcf");
					textArea.val(data);
				},
				error: function() {
					var textArea = $("#result-area-wcf");
					textArea.val("Something is not yes...");
				}
			});

		});
	});
</script>